body {
    background-color: rgb(0, 0, 60);
    color: rgb(184, 148, 148);
    display: flex;
    flex-direction: column;
    font-family: 'Merriweather', serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

#hidden-navbar {
    height: 70px;
}

#navbar {
    display: flex;
    position: fixed;
    width: 100%;
    height: 70px;
    flex-direction: row;
    gap: 20px;
    background-color: rgb(92, 51, 0);
    justify-content: center;
    z-index: 100;
}

#navbar a {
    color: rgb(184, 148, 148);
    text-decoration: none;
    transition: all 0.5s;
}

#navbar a:hover {
    color: yellow;
    font-size: 115%;
}

main {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin: 20px;
}

.card {
    background-color: rgb(92, 51, 0);
    width: 85%;
    max-width: 1000px;
    height: 100px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin: auto 0;
    align-items: center;
    transition: all 0.3s;
}

.card:hover {
    transform: scale(105%);
    color: yellow;
}

.card img {
    max-width: 100%;
    max-height: 100%;
}

.title-container {
    display: flex;
    flex-direction: column;
}

.title-container * {
    margin: 0;
}

.score-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 10px;
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
}

.score-container * {
    margin: 0 auto;
    padding: 2px 0;
}