body {
    background-color: #1e0f3c;
    color: rgb(54, 50, 64);
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

#hidden-navbar {
    height: 70px;
}

#navbar {
    display: flex;
    position: fixed;
    width: 100%;
    height: 70px;
    flex-direction: row;
    gap: 20px;
    background-color: #7453ED;
    justify-content: center;
    z-index: 100;
}

#navbar a {
    text-decoration: none;
    transition: all 0.5s;
}

#navbar a:hover {
    color: rgb(227, 227, 218);
    font-size: 115%;
}

#searchbar {
    display: flex;
    flex-direction: row;
    margin: 20px auto 0 auto;
}

#search-input {
    width: 100%;
    font-size: 40px;
    transition: all 0.3s;
    border: none;
    font-family: 'Ubuntu', sans-serif;
}

#search-input:hover {
    transform: scale(110%);
    border-bottom: 3px solid blue;
}

#search-input:focus {
    background-color: #25e69c;
    transform: scale(110%);
    outline: none;
    box-shadow: none;
    border-bottom: 3px solid blue;
    color: rgb(20, 20, 20);
}

#hiddenHTML {
    display: none;
}

main {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin: 20px;
}

.card {
    background-color: #7453ED;
    width: 85%;
    max-width: 1000px;
    height: 100px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin: auto 0;
    align-items: center;
    transition: all 0.15s;
    border-radius: 10px;
}

.card:hover {
    transform: scale(107%);
    color: rgb(252, 44, 252);
    box-shadow: yellow;
}

.card .rank {
    background-color: #5E29CC;
    border-radius: 7px;
    padding: 7px;
}

.card img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.card .score-container {
   background-color: #5E29CC;
   padding: 7px;
   border-radius: 10px;
}

.card .members {
    font-size: 18px;
}

.title-container {
    display: flex;
    flex-direction: column;
}

.title-container * {
    margin: 0;
}

.score-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 10px;
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
}

.score-container * {
    margin: 0 auto;
    padding: 2px 0;
}